extends layout

block content
  .index-container
    .index-info
      h2 Your next dish awaits..
      p Cookout is a collaborative cookbook project written by the people with over !{data.recipe_count} recipes and more !
      a(href="/recipes")
        button Explore Recipes